/* Global */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    overflow: auto;
}

/* Make ever section take up exactly the viewport height */
section {
    height: 100vh;
}

#wrapper {
    width: 100%;
    margin: 0 auto;
    overflow: auto;
}

/* NAVBAR */
nav li {
    list-style-type: none;
    padding-top: 1em;
}

nav a:visited {
    color: lightgray;
}

nav a {
    color: lightgrey;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid lightgray;
    text-decoration: none;
    font-size: 1.2em;
}

nav li:last-child a {
    border-bottom: none;
}

nav a:hover {
    color: darkgray;
    border-bottom: none;
}

.item {
    text-align: center;
    display: none;
}

.active {
    display: block;
}

#toggle {
    text-align: center;
    font-size: 2em;
}

/* BANNER */

#banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('./images/banner_large.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    position: relative;
}

#banner h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 3em;
    transform: translate(-50%, -50%);
}

/* MAIN */
main {
    width: 100%;
}

/* CONTRAST */
#contrast {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#contrast > h2 {
    font-size: 5vw;
    text-transform: uppercase;
    margin: 40px 0;
}

#contrast > p {
    text-align: justify;
    padding: 0 5% 30px 5%;
}

#contrast > img {
    width: 100%;
}

/* REPETITION */
#repetition {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#repetition > h2 {
    font-size: 5vw;
    text-transform: uppercase;
    margin: 40px 0;
}

#repetition > p {
    text-align: justify;
    padding: 0 5% 30px 5%;
}

#repetition > img {
    width: 100%;
}

/* ALIGNMENT */
#alignment {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#alignment > h2 {
    font-size: 5vw;
    text-transform: uppercase;
    margin: 40px 0;
}

#alignment > p {
    text-align: justify;
    padding: 0 5% 30px 5%;
}

#alignment > img {
    width: 100%;
}

/* PROXIMITY */
#proximity {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#proximity > h2 {
    font-size: 5vw;
    text-transform: uppercase;
    margin: 40px 0;
}

#proximity > p {
    text-align: justify;
    padding: 0 5% 30px 5%;
}

#proximity > img {
    width: 100%;
}

/* FOOTER */
footer {
    background-color: lightgray;
    padding: 50px 0;
    text-align: center;
}

footer p {
    margin: 0;
}

/* DESKTOP LAYOUT */
@media all and (min-width: 960px) {
    /* NAVBAR */
    nav ul {
        display: flex;
        justify-content: left;
    }

    nav li {
        padding-right: 1em;
    }

    #toggle {
        display: none;
    }

    .item {
        display: block;
    }

    /* CONTRAST */
    #contrast {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 3fr;
        padding-bottom: 3%;
    }

    #contrast > h2 {
        grid-column: 1/3;
        grid-row: 1/2;
        margin: 30px 0;
        align-self: center;
    }

    #contrast > img {
        grid-area: 2/1/3/2;
        justify-self: center;
        width: 90%;
    }

    #contrast > p {
        grid-row: 2/3;
        grid-column: 2/3;
        margin: 0;
        padding: 0 40px 0 0;
    }

    /* REPETITION */
    #repetition {
        background-color: wheat;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 3fr;
        padding-bottom: 3%;
    }

    #repetition > h2 {
        grid-column: 1/3;
        grid-row: 1/2;
        margin: 30px 0;
        align-self: center;
    }

    #repetition > img {
        grid-row: 2/3;
        grid-column: 2/3;
        justify-self: center;
        width: 90%;
    }

    #repetition > p {
        grid-area: 2/1/3/2;
        margin: 0;
        padding: 0 0 0 40px;
    }

    /* ALIGNMENT */
    #alignment {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 3fr;
        padding-bottom: 3%;
    }

    #alignment > h2 {
        grid-column: 1/3;
        grid-row: 1/2;
        margin: 30px 0;
        align-self: center;
    }

    #alignment > img {
        grid-area: 2/1/3/2;
        justify-self: center;
        width: 90%;
    }

    #alignment > p {
        grid-row: 2/3;
        grid-column: 2/3;
        margin: 0;
        padding: 0 40px 0 0;
    }

    /* PROXIMITY */
    #proximity {
        background-color: wheat;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 3fr;
        padding-bottom: 3%;
    }

    #proximity > h2 {
        grid-column: 1/3;
        grid-row: 1/2;
        margin: 30px 0;
        align-self: center;
    }

    #proximity > img {
        grid-row: 2/3;
        grid-column: 2/3;
        justify-self: center;
        width: 90%;
    }

    #proximity > p {
        grid-area: 2/1/3/2;
        margin: 0;
        padding: 0 0 0 40px;
    }
}
